version: '3'
services:
  
  #PHP Service
  gbn-app:
    image: gbn-app
    build:
      context: .
      dockerfile: Dockerfile
    user: www-gbn
    container_name: gbn-app
    tty: true
    environment:
      SERVICE_NAME: gbn-app
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
       - ./:/var/www
       - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - gbn-network
  
  gbn-app1:
    image: gbn-app
    user: www-gbn
    container_name: gbn-app1
    tty: true
    environment:
      SERVICE_NAME: gbn-app1
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
       - ./:/var/www
       - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - gbn-network

  #Nginx Service
  gbn-webserver:
    image: nginx:alpine
    container_name: gbn-webserver
    tty: true
    ports:
      - "8002:8002"
      - "4445:443"
    volumes:
      - ./:/var/www
      - ./nginx/conf/nginx.conf:/etc/nginx/conf/nginx.conf:ro
      - ./nginx/conf.d/:/etc/nginx/conf.d/:ro
    networks:
      - gbn-network

  #PostgreSQL Service
  gbn-db:
    container_name: gbn-db
    hostname: gbn-db
    build:
      context: ./debezium-postgres
      dockerfile: Dockerfile
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: gbn
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: gbnssword
      SERVICE_TAGS: dev
      SERVICE_NAME: postgresql
    volumes:
      - gbndata:/var/lib/postgresql/data
    networks:
      - gbn-network
  # Redis
  gbn-redis:
    image: redis:alpine
    container_name: gbn-redis
    ports:
      - "6381:6379"
    volumes:
      - gbn-redis-data:/data
    networks:
      - gbn-network
  
  # Kafka Worker Service
  gbn-kafka-worker:
    image: gbn-app  # Reference the existing image built for gbn-app
    user: www-gbn
    container_name: gbn-kafka-worker
    tty: true
    environment:
      SERVICE_NAME: gbn-kafka-worker
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - gbn-network
      - kafka-network
    command: php artisan consume
    restart: always # Add this line to specify the restart policy
  # Queue Worker Service
  gbn-queue-worker:
    image: gbn-app  # Reference the existing image built for gbn-app
    user: www-gbn
    container_name: gbn-queue-worker
    tty: true
    environment:
      SERVICE_NAME: gbn-queue-worker
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - gbn-network
    command: php artisan queue:work --queue=default --sleep=3 --tries=3 --max-time=3600
    restart: always # Add this line to specify the restart policy

#Docker Networks
networks:
  gbn-network:
    name: gbn-network
    driver: bridge
  kafka-network:
      name: kafka-network
      external: true
#Volumes
volumes:
  gbndata:
    driver: local
  gbn-redis-data:
    driver: local
