version: '3'
services:
  
  #PHP Service
  gbn-app:
    image: gbn-app
    build:
      context: .
      dockerfile: Dockerfile
    user: www-gbn
    container_name: gbn-app
    tty: true
    environment:
      SERVICE_NAME: gbn-app
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
       - ./:/var/www
       - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - gbn-network
  
  gbn-app1:
    image: gbn-app
    user: www-gbn
    container_name: gbn-app1
    tty: true
    environment:
      SERVICE_NAME: gbn-app1
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
       - ./:/var/www
       - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - gbn-network

  #Nginx Service
  gbn-webserver:
    image: nginx:alpine
    container_name: gbn-webserver
    tty: true
    ports:
      - "8002:8002"
      - "4445:443"
    volumes:
      - ./:/var/www
      - ./nginx/conf/nginx.conf:/etc/nginx/conf/nginx.conf:ro
      - ./nginx/conf.d/:/etc/nginx/conf.d/:ro
    networks:
      - gbn-network

  #PostgreSQL Service
  gbn-db:
    container_name: gbn-db
    hostname: gbn-db
    build:
      context: ./debezium-postgres
      dockerfile: Dockerfile
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: gbn
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: gbn_pass
      SERVICE_TAGS: dev
      SERVICE_NAME: postgresql
    volumes:
      - gbndata:/var/lib/postgresql/data
    networks:
      - gbn-network

#Docker Networks
networks:
  gbn-network:
    name: gbn-network
    driver: bridge

#Volumes
volumes:
  gbndata:
    driver: local
